<div class="search-div">
    <button mat-raised-button  >
        <mat-icon>add</mat-icon>Crear
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Buscar por nombre" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button arial-label="Clear" *ngIf="searchKey" (click)="searchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="users" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.user}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombres">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nombres}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellidoPaterno">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Paterno </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.apellidoPaterno}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellidoMaterno">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Materno </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.apellidoMaterno}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipoDocumentoId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Documento </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.tipoDocumentoId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="numeroDocumento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Número Documento </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.numeroDocumento}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button ><mat-icon>launch</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                {{loading}}
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                {{noData}}
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':users!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(users!=null && users.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
