.crop-image{
    overflow: hidden;
    position: relative;
    height: 260px;
    width: 340px;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }